extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    .container
      .admin-top
        h3#category-subheading.header Add New Product Category
        +flashMessages()
        form#addCategoryForm.well.well-sm(method='post' action='/admin/products/add')
          .row
            .col-md-6
              .form-group
                label(for='name') Name
                input#product-name.form-control(type='text', name='name', required='')
              .form-group
                label.capitalize Category
                select.form-control(name='category', required='')
                  option(selected='')
                  option(value='Banners') Banners
                  option(value='Business cards') Business cards
                  option(value='roll up banners') Roll up banners
                  option(value='Letter heads') Letter heads
                  option(value='Posters') Posters 
                  option(value='corporate gifts') Corporate gifts
                  option(value='Custom mugs') Custom mugs
                  option(value='Marketing Brouchures') Marketing Brouchures
                  option(value='Logo development') Logo development
                  option(value='Diary') Diary
                  option(value='note&jotters') Note &amp; Jotters
                  option(value='Corporate Stationary') Corporate Stationary
                  option(value='Promotional Items') Promotional Items
                  option(value='Custom T-skirt') Custom T-skirt
              .form-group
                label(for='Description') Description
                textarea#description.form-control(type='text', name='description', required='', rows='5')
              .form-group
                label(for='Price') Price
                input#price.form-control(type='text', name='price', required='')              
              .form-group
                label(for='Price') In Stock
                select.form-control(name='inStock', required='')
                  option(selected='')
                  option(value='yes') Yes
                  option(value='no') No
            .col-md-6
              .form-group
                label(for="image")
                img#blah(alt='your image', width='600px', height='500px' src='404image')
                br
                br
                input.preview_img(type='file', name='productimg' onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" )
                br
                br
              .form-group
                input.btn.btn-success(type='submit', value='Submit')
              br 
              br
            
              


