extends ./layout/adminlayout
include ./mixins/_flash-messages

block content
  .span9
    .container
      .admin-top
        h3#category-subheading.header Add New Product Category
        +flashMessages()   
        form#addCategoryForm.well.well-sm(method='post' action='/admin/products/add' enctype="multipart/form-data")
          .row
            .col-md-6
              .form-group
                label(for='name') Name
                input#product-name.form-control(type='text', name='name', required='')
              .form-group
                label.capitalize Category
                select.form-control(name='category', required='')
                  option(selected='')
                    each categories, i in category
                      option(value=categories.name._id) #{categories.name}
              .form-group
                label(for='Description') Description
                textarea#description.form-control(type='text', name='description', required='', rows='5')
              .form-group
                label(for='Price') Price
                input#price.form-control(type='text', name='price', required='')              
              .form-group
                label(for='Price') In Stock
                select.form-control(name='inStock', required='')
                  option(selected='')
                  option(value='yes') Yes
                  option(value='no') No
            .col-md-6
              .form-group
                .btn.btn-primary.btn-sm.float-left
                  span Choose file
                  input(type='file' name='myFile' onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" width='600px', height='500px' )
                  br
                label
                  br
                  img#blah(alt='your image', width='500px', height='500px' src='404image')
              button.btn.btn-success(type='submit', value='Submit') Add product
              br 
              br