extends ./layout/adminlayout
include ./mixins/_flash-messages

block content
    .span9
    .container
      .row
        .col-md-3
        .col-md-6
          .admin-top
            h3#category-subheading.header Edit Product Category
            +flashMessages()
            form#addCategoryForm.well.well-sm(method='post' action='/admin/category/edit/'+category._id)
              .form-group
                label(for='name') Name
                input#product-name.form-control(type='text', name='name', required='' value=category.name)
              .form-group
                label(for='description') Description
                textarea#description.form-control(type='text', name='description', required='', rows='5')=category.description
              button.btn.btn-success(type='submit', value='Submit') Update category
              br 
              br
          .col-md-3