include ./mixins/_flash-messages

link(rel='stylesheet', href="/stylesheets/style.css", type='text/css')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', type='text/css')


block content
    section
        .container
            .row
                .col-md-3
                .col-md-6
                    form.log-blk(method='POST', action='/admin/login')
                        h2.text
                            | Login
                        +flashMessages()
                        .form-group
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control(type='email', name='email' aria-describedby='emailHelp', placeholder='Enter email')
                        .form-group
                            label(for='exampleInputPassword1') Password
                            input#exampleInputPassword1.form-control(type='password', name='password' placeholder='Password')
                        center
                            button.btn.btn-primary(type='submit' name='submit' value='Submit') SIGN IN
                        br
                        center
                            a.log-ml.ml-r(href='#') Forgotten Password
                    center.log-top
                       | Dont have an account? 
                       a(href='/admin/register') Sign Up
                .col-md-3

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')