extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    section.sect-ban
        .container
            div
            h2.ban_header
                | Choose a product
            .row
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Roll up Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | X Banners
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Roll up Banners(Small Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Pull Up Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Flags Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Flags Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Flags Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
                .col-md-4
                    .banner_1
                        img(src='../img/images.jpg', alt='', style='width: 100%')
                        .banner_text
                        h2
                        | Flags Banners(Big Base)
                        p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates. Voluptates!
                        p
                        | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                        span Starting from N25,000.00
                        br
                        br
                        button.btn.btn-order
                            a(href='/product') Order Now
