extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    section.blk_2
        .container-fluid.blk-text
            h2
            | Business Cards
            p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aspernatur commodi at ex impedit aut
            | aliquid nisi quasi repellendus reiciendis?
            span FOR AS LOW AS N5,000.00 
            br
            br
            br
            a.link(href='#logo') Get Started
    section.sect-ban
      .container
        .row
          .col-md-4
            .banner_1
              img(src='../img/images.jpg', alt='', style='width: 100%')
              .banner_text
                h2
                  | One Sided Card
                p
                  | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates.
                  | Voluptates!
                p
                  | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                span Starting from N5,000.00
                br
                br
                a(href='/product') Order Now
          .col-md-4
            .banner_1
              img(src='../img/images.jpg', alt='', style='width: 100%')
              .banner_text
                h2
                  | Both Sided Card
                p
                  | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates.
                  | Voluptates!
                p
                  | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                span Starting from N7,000.00
                br
                br
                a(href='/product') Order Now
          .col-md-4
            .banner_1
              img(src='../img/images.jpg', alt='', style='width: 100%')
              .banner_text
                h2
                  | Curved Sided Card
                p
                  | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates.
                  | Voluptates!
                p
                  | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                span Starting from N8,000.00
                br
                br
                a(href='/product') Order Now
          .col-md-4
            .banner_1
              img(src='../img/images.jpg', alt='', style='width: 100%')
              .banner_text
                h2
                  | One Sided Card
                p
                  | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates.
                  | Voluptates!
                p
                  | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                span Starting from N8,000.00
                br
                br
                a(href='/product') Order Now
          .col-md-4
            .banner_1
              img(src='../img/images.jpg', alt='', style='width: 100%')
              .banner_text
                h2
                  | One Sided Card
                p
                  | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, placeat voluptates.
                  | Voluptates!
                p
                  | Delivery TimeFrame: 3 - 5 working days for Lagos, 5 - 7 working days for other cities
                span Starting from N8,000.00
                br
                br
                a(href='/product') Order Now
