extends ./layout/mainlayout
include ./mixins/_flash-messages


block content
    section
        .container
            #businesscard
            .header-text.py-2.pin-t.w-full  Business Cards
            .row
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
            #corportategifts.blk-contain
            .header-text.sticky Corporate Gift
            .row
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
            #stationary.blk-contain
            .header-text.sticky Corporate Stationary
            .row
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
            #promotionalitems.blk-contain
            .header-text.sticky Promotional Items
            .row
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                    .contain
                        img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                        .text
                          h2
                            | One sided cards
                          p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                            | doloribus
                            | similique ratione
                            | dolorum culpa ducimus illo? Eveniet, id?
            #posters.blk-contain
            .header-text.sticky Posters
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                        h2
                        | One sided cards
                        p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
            #t-skirts.blk-contain
            .header-text.sticky Custom T-Skirts
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
            #custommugs.blk-contain
            .header-text.sticky Custom Mugs
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
            #banners.blk-contain
            .header-text.sticky Banners and Large Formats
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
            #notes_jotters.blk-contain
            .header-text.sticky Branded Notes &amp; Jotters
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
            #letterheads.blk-contain
            .header-text.sticky Letter Head
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
            #brochures.blk-contain
            .header-text.sticky Marketing Brochures
            .row
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione
                        | dolorum culpa ducimus illo? Eveniet, id?
                .col-md-3
                  .contain
                    img(src='../img/card 1.jpg', alt='', style='width: 100%;')
                    .text
                      h2
                        | One sided cards
                      p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolore numquam
                        | doloribus
                        | similique ratione dolorum culpa ducimus illo? Eveniet, id?
