extends ./layout/mainlayout
include ./mixins/_flash-messages


block content
  section
   .container.product-blk
    .row
      .col-md-7
        img(src='#{product.image}', alt='', style='width: 100%')
      .col-md-5
        .cart
          h3 #{product.name}
          p ₦#{product.price}
            .form-group
              input#quantity(type='hidden', name='product_id', value='')
              input#priceHidden.form-control(type='hidden', name='priceHidden', value='')
              b Product description:
              br
              | #{product.description}
              br
              br
            if user
              a.btn.btn-primary.btn-lg(type='submit', role='button' href='/addtocart/'+product._id) Add to Cart
              br
              br
            else
              a.btn.btn-primary.btn-lg(type='submit', role='button' href='/addtocart/'+product._id) Add to Cart
              br
              br
              a.btn.btn-warning.btn-lg(href='/register') Signup to begin buying
