footer.main-footer
  strong
    | Copyright &copy; 2020 
    a(href='') Profound House of Design 
    | .
  |     All rights reserved.
  .float-right.d-none.d-sm-inline-block
    b Version
    |  3.0.1

