link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

//- link(rel='stylesheet', href="/stylesheets/style.css", type='text/css')

//- link(rel='stylesheet', href='/adminlte/plugins/fontawesome-free/css/all.min.css')
//- // Ionicons
//- link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
//- // Tempusdominus Bbootstrap 4
//- link(rel='stylesheet', href='/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
//- // iCheck
//- link(rel='stylesheet', href='/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.css')
//- // JQVMap
//- link(rel='stylesheet', href='/adminlte/plugins/jqvmap/jquery.vmap.min.js')
//- // Theme style
//- link(rel='stylesheet', href='/adminlte/dist/css/adminlte.min.css')
//- // overlayScrollbars
//- link(rel='stylesheet', href='/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
//- // Daterange picker
//- link(rel='stylesheet', href='/adminlte/plugins/daterangepicker/daterangepicker.css')
//- // summernote
//- link(rel='stylesheet', href='/adminlte/plugins/summernote/summernote-bs4.css')
//- // Google Font: Source Sans Pro
