script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/icheck/icheck.bootstarp.min.js')
// jQuery
script(src='/adminlte/plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='/adminlte/plugins/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js')
// ChartJS
script(src='/adminlte/plugins/chart.js/Chart.min.js')
// Sparkline
script(src='/adminlte/plugins/sparklines/sparkline.js')
// JQVMap
script(src='/adminlte/plugins/jqvmap/jquery.vmap.min.js')
script(src='/adminlte/plugins/jqvmap/maps/jquery.vmap.usa.js')
// jQuery Knob Chart
script(src='/adminlte/plugins/jquery-knob/jquery.knob.min.js')
// daterangepicker
script(src='/adminlte/plugins/moment/moment.min.js')
script(src='/adminlte/plugins/daterangepicker/daterangepicker.js')
// Tempusdominus Bootstrap 4
script(src='/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
// Summernote
script(src='/adminlte/plugins/summernote/summernote-bs4.min.js')
// overlayScrollbars
script(src='/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='/adminlte/dist/js/adminlte.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='/adminlte/dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='/adminlte/dist/js/demo.js')

