// Navbar
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu', href='#')
        i.fa.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='/admin/admin-home') Home
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='#') Contact
    //- li.nav-item.dropdown
    //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    //-     | Help
    //-   .dropdown-menu(aria-labelledby='navbarDropdown')
    //-     a.dropdown-item(href='#') FAQ
    //-     a.dropdown-item(href='#') Support
    //-     .dropdown-divider
    //-     a.dropdown-item(href='#') Contact
 
  // Right navbar links
  ul.navbar-nav.ml-auto
    if login
       // Messages Dropdown Menu
       li.nav-item.dropdown
         a.nav-link.fa.fa-user(data-toggle='dropdown', href='#') #{user.firstName}
         .dropdown-menu.dropdown-menu-right
           a.dropdown-item(href='#') LogOut
