head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title PHD
  meta(content='We are a forward thinking prints+designs company which specializes in creating strong brands for companies with interest in cutting-edge excellence.', name='description')
  meta(content='Profound House of Designs', name='PHD')
  meta(content='Profound cards, prints, designs,customized cards, phd logo,invitation cards, wedding cards,business cards, phdng.com, profound house of designs, about phd,', name='keywords')
  // Bootstrap cdn
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', type='text/css')
  // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" type="text/css">
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  link(rel='stylesheet', href='./css/style.css', type='text/css')
//
  -------------------------
  -----------------------------
  ------Block 1 starts here----
  -----------------------------
  --------------------------
section
  nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='index.html') Logo
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
      ul.navbar-nav.centered
        li.nav-item.active
          a.nav-link(href='index.html')
            | Home 
            span.sr-only
        li.nav-item
          a.nav-link(href='get_price.html') Get Price Quote
        li.nav-item
          a.nav-link(href='ourWorks.html') Our Works
        li.nav-item.flex-fill.justify-content-center
          a.nav-link(href='contact_page.html') Contact
    div
      ul.navbar-nav
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle.fa.fa-user(href='#', data-toggle='dropdown')
            | #{user.firstName}
          .dropdown-menu
            a.dropdown-item.nav-drop(href='/profile') My Profile
            a.dropdown-item.nav-drop(href='/userOrders') Order History
            a.dropdown-item.nav-drop(href='/logout') Log Out
        li.nav-item
          a.nav-link(href='#')
            i.fa.fa-shopping-cart Cart

//
  -------------------------
  -----------------------------
  ----Section Nav starts here--
  -----------------------------
  --------------------------
section.sect-1
  .container-fluid
    nav.navbar-expand-lg.navbar-dark.primary-color
      // Collapse button
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      // Collapsible content
      #basicExampleNav.collapse.navbar-collapse.justify-content-center
        // Links
        ul.navbar-nav.sectionNav
          .dropdown
            a.dropbtn
              | All Products
              i.fa.fa-caret-down
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/logo') Logo Development
              a.dropdown-item(href='/stationary') Corporate Stationary 
              a.dropdown-item(href='/gift') Corporate Gift
              a.dropdown-item(href='/promotionalItem') Promotional items
              a.dropdown-item(href='/Banners') Banners &amp; Large Formats
              a.dropdown-item(href='/notes&jotter') Note &amp; Jotters
              a.dropdown-item(href='/Businesscards')  Business Cards 
              a.dropdown-item(href='/letterhead') Letter Heads
              a.dropdown-item(href='/brochures') Brochures
              a.dropdown-item(href='/poster') Posters 
              a.dropdown-item(href='/diary') Diary 
          li.nav-item
            a(href='/Businesscard')  Business Cards 
          li.nav-item
            a(href='/corporategift') Corportate Gifts
          li.nav-item
            a(href='/mugs') Custom Mugs
          li.nav-item
            a(href='custom-tskirt') Custom T-Skirts
          li.nav-item
            a(href='/letterhead') Letter Heads
          li.nav-item
            a(href='/brochures') Marketing Brochures
          li.nav-item
            a(href='/poster') Posters 
          li.nav-item
            a(href='/promotionalItem') Promotional Items
      // Collapsible content
    // /.Navbar
//
  -------------------------
  -----------------------------
  ----Section Nav ends here----
  -----------------------------
  --------------------------
block content

//
  -------------------------
  -----------------------------
  --FOOTER SECTION STARTS HERE--
  -----------------------------
  --------------------------
section.bk-yellow
  .container-fluid
    .row.ft-pad
      .col-md-3
        ul.ul-menu
          li.active
            | PHD
          li
            a(href='') Our Services
          li
            a(href='')  About Us
          li
            a(href='') Testimonials
      .col-md-3
        .ul-main
          ul.ul-menu
            li.active Explore
            li
              a(href='') Our Services
            li
              a(href='')  About Us
            li
              a(href='') Testimonials
      .col-md-3
        div
          ul.ul-menu
            li.active Contact Us
            li Email: enquireonphd@gmail.com
            li Phone: 08067651216
            li
              a(href='')
                | Address: 26, Shipolu street opp. FCMB, Onipanu, Shomolu, Lagos State.
      .col-md-3
        .ul-main
          ul.ul-menu
            li.active
              | Delivery
            li
              img(src='./img/delivery-logos.png', alt='')
    .row.ft-low
      .col-md-6.ft-copy
        center
          p
            strong PHD &copy; 2018. All Rights Reserved.
      .social_footer.bounce.col-md-6
        ul
          li
            a(href='#')
              span
                i.fa.fa-facebook.footer-social
          li
            a(href='#')
              span
                i.fa.fa-twitter.footer-social
          li
            a(href='#')
              span
                i.fa.fa-instagram.footer-social
          li
            a(href='#')
              span
                i.fa.fa-google.footer-social
//
  -------------------------
  -----------------------------
  --FOOTER SECTION ENDS HERE---
  -----------------------------
  --------------------------
// Scripts
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
script(type='text/javascript', src='assets/plugins/back-to-top.js')
script(src='../js/main.js')